@import './styles/global.scss';

html, body {
  height: 100%;
}

#workbenchPageContent, #spPageCanvasContent, .CanvasZone, .ControlZone, .ControlZone--control, .ControlZone--canvas, .CanvasSection {
  height: auto;
  overflow: visible;
}

body {
  margin: 0;
  font-family: -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  background: #f6f7fb;
}


